streamlit>=1.37.0
pandas==2.1.4
datetime
requests==2.31.0
numpy==1.26.2
urllib3==2.1.0
pytz==2023.3.post1
plotly>=5.22.0
selenium
fredapi
numpy
bs4
openpyxl
matplotlib
streamlit_js_eval
streamlit_javascript 
user_agents
python-certifi-win32
certifi
streamlit_extras
streamlit_calendar
streamlit-lottie>=0.0.5
statsmodels
st_social_media_links