/*Sacar el Margen superior de la página*/
.st-emotion-cache-ttupiz{
   height:0cm;
}

/*Estilo general para contenedores*/
div[data-testid="stAppViewBlockContainer"] div[data-testid="stHorizontalBlock"] div[data-testid="column"]{
   background-color:white;
   padding:5px;
   border-radius:15px;
   /*border: silver solid 2px;]*/
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5)
}
div[data-testid="stAppViewBlockContainer"]{
   background-color:rgb(255, 255, 255);
   padding:2.5px;
   border-radius:0px;
   /*border: silver solid 2px;]*/
   box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5)
}
/* Color etiquetas y títulos*/
h3,
label[data-testid="stMetricLabel"] p{  
   font-weight:bold;
   color:#404040
}

.st-emotion-cache-yinll1 {
   visibility: collapse;
}
/* Aplica al caso del header de Datos Argentina*/
h2[id="61901152"]{
   display: flex;
   justify-content: center;
   color: #6CACE4;
}

/* Estilo de valor de métricas*/
div[data-testid="stMetricValue"]{
   font-size:2.5em;
   font-weight:bold;
   color: #82858d;
}

div[data-testid="StyledFullScreenButton"]{
   visibility:collapse;
}


/*Estilos para tablas*/

.dashboardTable {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;    
   width:100%
}
.dashboardTable thead tr {
   background-color: #f4f4f9;
   color: #12bb94;
   text-align: left;
}
.dashboardTable th,
.dashboardTable td {
   /* padding: 5px 5px; */
   border:none;
}

.dashboardTable tbody tr {
   border-bottom: 1px solid #ecedff;
   background-color:white;
}

.dashboardTable tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

#MainMenu{
   visibility: hidden;
}

div[data-testid="stToolbar"]{
   visibility: hidden;
}

/*Editar Tabs*/
div[data-testid="stTabs"]{
   display:contents;
   justify-content: center;
}

/* Centro la lista de tabs */
.stTabs[data-baseweb="tab-list"] {
   display: flex;
   justify-content: center;
   border-radius: 5rem;
   position: relative;
   cursor: pointer;
   transition: color 0.15s ease-in;
}

/* Estilo del borde inferior de las tabs */
.stTabs[data-baseweb="tab"] {
   border-bottom: 2px solid transparent;
   padding: 0 10px; /* Añadir algo de padding para que no estén tan pegadas entre sí */
}

div[data-baseweb="tab"][aria-selected="true"] {
   border-bottom: 2px solid #FF4B4B; /* Puedes cambiar el color según tus necesidades */
}

/* Remuevo el borde del contenedor de las tabs */
div[data-baseweb="tab-list"]::before {
   /*content: ''; */
   display: block;
   width: 100%;
   border-bottom: 0; /* Quita el borde inferior del contenedor */
}

/* Bordes inferiores personalizados para cada tab */
.stTabs[data-baseweb="tab"]:not([aria-selected="true"]) {
   border-bottom: 2px solid transparent;
}

/* Estilo del contenedor de las tabs para evitar el borde inferior */
div[data-baseweb="tabs"] {
   border-bottom: none;
}

.stTabs [aria-selected="true"] {
   background-color:#6CACE4 !important;
   color: white !important;
   border-radius: 10px !important; /* Ajusta el valor según el nivel de redondeado que desees */
   padding: 10px !important; /* Ajusta el relleno según sea necesario */
 }
.stTabs [data-baseweb="tab-highlight"] {
   visibility: collapse;
}
.stTabs [data-baseweb="tab-border"]{
   visibility: collapse;
}


 /*Editar Radio*/
div.row-widget.stRadio > div {
   flex-direction: row;
   align-items: stretch;
}

div[role="radiogroup"] {
   flex-direction:row;
}
input[type="radio"] + div {
   background: #6CACE4 !important;
   color: #17455C;
   border-radius: 38px !important;
   padding: 8px 18px !important;
   align-items: stretch;
}
input[type="radio"][tabindex="0"] + div {
   background: #E6FF4D !important;
   color: #17455C !important;
   align-items: stretch;
}
input[type="radio"][tabindex="0"] + div p {
   color: #17455C !important;
   align-items: stretch !important;
}
div[role="radiogroup"] label > div:first-child {
   display: none !important;
}
div[role="radiogroup"] label {
   margin-right: 0px !important;
}
div[role="radiogroup"] {
   gap: 12px;
}


/* Ajustan st.Expander  */
.st-emotion-cache-1dtefog{
   display: flex;
   justify-content: center;
}

/*Ocultar logo streamlit*/
.viewerBadge_container__r5tak{
   visibility: collapse;
}

div[data-testid="stVerticalBlock"]> div.element-container > div.stMarkdown > div[data-testid="stMarkdownContainer"] > p >{
   background-color: black;
   padding: 20px;
   border-radius: 10px;
   color: white;
}

button[data-testid="manage-app-button"]{
   display: flex;
   visibility:hidden;
}