/*Estilo general para contenedores*/
div[data-testid="stAppViewBlockContainer"] div[data-testid="stHorizontalBlock"] div[data-testid="column"]{
   background-color:white;
   padding:5px;
   border-radius:15px;
   /*border: silver solid 2px;]*/
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5)
}

/* Color etiquetas y títulos*/
h3,
label[data-testid="stMetricLabel"] p{  
   font-weight:bold;
   color:#404040
}

/* Estilo de valor de métricas*/
div[data-testid="stMetricValue"]{
   font-size:2.5em;
   font-weight:bold;
   color: #82858d;
}

div[data-testid="StyledFullScreenButton"]{
   visibility:collapse;
}


/*Estilos para tablas*/

.dashboardTable {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;    
   width:100%
}
.dashboardTable thead tr {
   background-color: #f4f4f9;
   color: #12bb94;
   text-align: left;
}
.dashboardTable th,
.dashboardTable td {
   /* padding: 5px 5px; */
   border:none;
}

.dashboardTable tbody tr {
   border-bottom: 1px solid #ecedff;
   background-color:white;
}

.dashboardTable tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

#MainMenu{
   visibility: hidden;
}

div[data-testid="stToolbar"]{
   visibility: hidden;
}

/* Estilo de radio*/

/* Eliminar bordes */
div.row-widget.stRadio > div {
   flex-direction: row;
   align-items: stretch;
}

/* Ocultar el div interno */
div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] > div:first-child {
   content: '';
   display: inline-block;
   color: black;
   margin-right: 8px;
   font-size: 1.2em; /* Ajustar tamaño según necesidad */
}

/* Estilizar las opciones sin bordes */
div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"] {
   background: transparent;
   padding-right: 10px;
   padding-left: 4px;
   padding-bottom: 3px;
   margin: 4px;
   border: none; /* Eliminado borde */
   display: flex;
   align-items: center;
   transition: background-color 0.3s; /* Para la animación */
}

/* Añadir círculo negro a la izquierda */
div.row-widget.stRadio > div[role="radiogroup"] > label[data-baseweb="radio"]::before {
   content: '○';
   display: inline-block;
   color: black;
   margin-right: 8px;
   font-size: 1.2em; /* Ajustar tamaño según necesidad */
}

/* Cambiar el ícono del valor seleccionado a una flecha */
input[type="radio"]:checked + label[data-baseweb="radio"]::before {
   content: '→';
   color: black;
   font-weight: bold;
}

/* Añadir animación usando Animate.css */
input[type="radio"]:checked + label[data-baseweb="radio"] {
   animation: animate__animated animate__bounceIn;
}

/* Estilizar opción seleccionada */
input[type="radio"]:checked + div {
   background: none !important; /* Eliminar fondo rojo */
}