/*Estilo general para contenedores*/
div[data-testid="stAppViewBlockContainer"] div[data-testid="stHorizontalBlock"] div[data-testid="column"]{
   background-color:white;
   padding:5px;
   border-radius:15px;
   /*border: silver solid 2px;]*/
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5)
}

/* Color etiquetas y títulos*/
h3,
label[data-testid="stMetricLabel"] p{  
   font-weight:bold;
   color:#404040
}

/* Estilo de valor de métricas*/
div[data-testid="stMetricValue"]{
   font-size:2.5em;
   font-weight:bold;
   color: #82858d;
}

div[data-testid="StyledFullScreenButton"]{
   visibility:collapse;
}


/*Estilos para tablas*/

.dashboardTable {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;    
   width:100%
}
.dashboardTable thead tr {
   background-color: #f4f4f9;
   color: #12bb94;
   text-align: left;
}
.dashboardTable th,
.dashboardTable td {
   /* padding: 5px 5px; */
   border:none;
}

.dashboardTable tbody tr {
   border-bottom: 1px solid #ecedff;
   background-color:white;
}

.dashboardTable tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

#MainMenu{
   visibility: hidden;
}

div[data-testid="stToolbar"]{
   visibility: hidden;
}






div[role="radiogroup"] {
   flex-direction:row;
}
input[type="radio"] + div {
   background: #00ff08 !important;
   color: #ff0000;
   border-radius: 38px !important;
   padding: 8px 18px !important;
}
input[type="radio"][tabindex="0"] + div {
   background: #3B3481 !important;
   color: #6CACE4 !important;
}
input[type="radio"][tabindex="0"] + div p {
   color: #6CACE4 !important;
}
div[role="radiogroup"] label > div:first-child {
   display: none !important;
}
div[role="radiogroup"] label {
   margin-right: 0px !important;
}
div[role="radiogroup"] {
   gap: 12px;
}